/**
 * author: BeiYuu;
 * concact: Flower;
 */
/** reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul,li {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: Helvetica, Tahoma, Arial, 'Hiragino Sans GB', '\51AC\9752\9ED1\4F53', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', STXihei, '\534E\6587\7EC6\9ED1', SimSun, '\5B8B\4F53', Heiti, '\9ED1\4F53', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

/** 首页 */
.index-wrapper .aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  max-width: 500px;
  background: #59a0b0;
}
.index-wrapper .info-card {
  position: absolute;
  margin-top: 30%;
  text-align: center;
  width: 100%;
}
.index-wrapper .info-card h1 {
  font-size: 40px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 0 0 80px rgba(255,255,255,0.5);
  letter-spacing: 0.15em;
  text-shadow: rgba(255,255,255,0.5) 0 0 15px, rgba(255,255,255,0.5) 0 0 10px;
}
.index-wrapper .blog_bg .info-card h1{
  color: #888;
}
.index-wrapper .index-content {
  margin-left: 30%;
  padding-top: 80px;
  padding-right: 15%;
}

.index-wrapper .artical-list {
  width: 70%;
  margin: 0 auto;
}
.index-wrapper .artical-list li {
  margin-bottom: 70px;
}
.index-wrapper .title {
  display: block;
  font-size: 22px;
  margin-bottom: 15px;
  word-break: break-all;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
  color: #444;
}
.index-wrapper .title:hover {
  color: #0067b5;
  text-decoration: none;
}
.index-wrapper .title-desc {
  color: #999;
  font-size: 14px;
  line-height: 1.6;
}
.info-headicon {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 3px solid #fff;
  border-radius: 50%;
}
/** 左部菜单 */
.menu-item {
  display: block;
  margin: 0 20px;
  font-size: 16px;
  color: #efefef;
  border-top: 1px solid #ccc;
  line-height: 50px;
}
.menu-item:hover {
  color: #e0f0e9;
}

.menu-item:first-child {
  border-top: none;
}

.blog_bg .menu-item {
  color: #999;
}
.blog_bg .menu-item:hover {
  color: #333;
}

.menu-icon {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: block;
  width: 35px;
  height: 30px;
  background-color: rgba(0,0,0,.6);
  border-radius: 3px;
  display: none;
}
.menu-icon:after {
  content: "";
  display: block;
  height: 2px;
  margin: 7px;
  background-color: #fff;
}
.menu-icon:before {
  content: "";
  display: block;
  height: 2px;
  margin: 9px 7px 0;
  background-color: #fff;
}
.left-menu-m-list {
  position: absolute;
  right: 1rem;
  top: 55px;
  width: 40%;
  background-color: rgba(0,0,0,.6);
  display: none;
}
.left-menu-m-list a {
  display: block;
  margin: 0 10px;
  line-height: 40px;
  color: #efefef;
  border-top: 1px solid #efefef;
}
.left-menu-m-list a:first-child {
  border-top: none;
}
.aside.blog_bg {
  background: url('../images/site/index_bg.jpg') no-repeat center;
  background-size: cover;
}
.aside.demo_bg {
  background: url('../images/site/demo_bg.jpg') no-repeat center;
  background-size: cover;
}
.aside.album_bg {
  background: url('../images/site/album_bg.jpg') no-repeat center;
  background-size: cover;
}

/** 文章详情 */
.body-post {
  background: #f5f5f5;
}
.post-wrapper {
  width: 65%;
  margin: 5% auto;
  min-height: 400px;
}
.post-left {
  width: 72%;
  float: left;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 1px 4px #ccc;
}
.post-right {
  width: 25%;
  float: right;
  /* background-color: #fff;
  box-shadow: 0 1px 4px #ccc; */
}
.fixedwrap {
  position: fixed;
  padding: 20px;
  width: 16%;
  max-height: 80%;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 1px 4px #ccc;
}
.post-body {
  word-break: break-all;
}
.post-body a{
  color: #387ac5;
  text-decoration: underline;
}
.post-body>ul{
  margin-left: 30px;
  margin-bottom: 40px;
}
.post-body li ul{
  margin-left: 30px;
}
.post-body ul li {
  list-style: disc;
}
.post-body li ul li{
  list-style: circle;
}
.post-wrapper .post-title,
.post-wrapper .post-title a {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.6;
}
.post-wrapper .post-title:hover,
.post-wrapper .post-title a:hover {
  text-decoration: none;
}
.post-wrapper .post-date {
  float: left;
  margin-right: 10px;
  text-align: center;
  color: #999;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 20px;
}
.post-tags {
  float: left;
}
.post-tags a {
  display: inline-block;
  padding: 2px 5px;
  background: #ccc;
  color: #fff;
  border-radius: 3px;
}
.post-wrapper h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}
.post-wrapper h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #222;
}
.post-wrapper h4,
.post-wrapper h5,
.post-wrapper h6 {
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
}
.post-wrapper p {
  margin-bottom: 24px;
  line-height: 1.8em;
}
.post-wrapper code {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0 5px;
  font-family: "Courier";
  line-height: 14px;
  font-size: 14px;
  word-wrap: break-word;
}
.post-wrapper pre {
  background: #f7f3f7;
  padding: 20px 30px 15px;
  overflow: auto;
  margin-bottom: 40px;
  font-size: 14px;
  border: 1px solid #eee;
  color: #b9bdb6;
  margin-top: -20px;
}
.post-wrapper pre code {
  background-color: transparent;
  border: none;
  padding: 0;
  word-wrap: normal;
}
.post-wrapper h4+pre,
.post-wrapper h3+pre {
  margin-top: 20px;
}
.post-wrapper ul li {
  margin-bottom: 5px;
  /*list-style: disc;*/
  line-height: 1.8em;
}
.post-wrapper p + ul {
  margin-top: -20px;
}
.post-wrapper ol {
  margin-bottom: 25px;
  margin-left: 25px;
}
.post-wrapper ol li {
  margin-bottom: 5px;
  list-style: decimal;
  line-height: 1.1em;
}
.post-wrapper blockquote {
  margin-left: 25px;
  font-size: 14px;
  font-style: italic;
}
.post-wrapper img {
  max-width: 100%;
  display: block;
  margin: 10px auto;
}
.post-wrapper table {
  margin: 0 auto;
}
.cate-list h3>a {
  float: left;
  color: #333;
  font-size: 18px;
}

.cate-list h3 {
  margin-bottom: 15px;
}
.cate-list h3>.num {
  float: right;
  font-size: 14px;
  font-weight: normal;
  color: #666;
}
.artcle-list {
  margin-bottom: 40px;
}
.artcle-list>li {
  margin-bottom: 10px;
  word-break: break-all;
  list-style: none;
}
.artcle-list>li a {
  display: block;
  color: #555;
  font-size: 14px;
}
.artcle-list>li a:hover {
  text-decoration: underline;
}

/** 标签列表页 */
.pageTag {
  margin-left: 10px;
}
.pageTag a {
  display: inline-block;
  padding: 0 8px;
  background-color: #ccc;
  color: #fff;
  border-radius: 3px;
}
.pageTag a:hover {
  background-color: #b8b8b8;
}
.tag-article-list h2:first-child {
  margin-top: 0;
}
.tag-article-list h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.tag-article-list time {
  color: #555;
}
.tag-article-list .title {
  color: #1887db;
}
.tag-article-list .title:hover {
  text-decoration: underline;
}
.post-wrapper .tag-article-list li {
  margin-bottom: 10px;
}
.label-list {
  padding-left: 30px;
  padding-right: 10px;
}
.label-list li {
  list-style-type: disc;
}
.label-list .scroll {
  display: block;
  color: #1f7fc8;
  line-height: 30px;
}
.label-list .scroll:hover {
  color: #379fee;
}
.label-list .scroll .num {
  float: right;
}


/** global */
.classify-icon {
  position: fixed;
  right: 0;
  top: 2%;
  z-index: 10;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 3px;
  display: none;
  cursor: pointer;
}
.classify-icon:before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -17px;
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 3px;
}
.classify-icon:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -17px;
  left: -17px;
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 3px;
}
.classify-icon i{
  display: block;
  position: absolute;
  bottom: -17px;
  right: -2px;
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 3px;
}
.classify-menu {
  position: fixed;
  right: -60%;
  top: 0;
  z-index: 10;
  width: 60%;
  height: 100%;
  padding: 1.2rem;
  background-color: rgba(0,0,0,.9); 
  display: none;
  overflow-y: scroll;
  /*animation: slideShow .8s;
  -webkit-animation: slideShow .8s;*/
}
.classify-name {
  margin-bottom: 15px;
}
.classify-name a {
  color: #fff;
  font-size: 18px;
}
.classify-list {
  margin-bottom: 2rem;
}
.classify-list li {
  margin-bottom: 15px;
}
.classify-list li a {
  
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
}

.backTop {
  position: fixed;
  right: 50px;
  bottom: 5%;
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 3px;
}
.backTop i:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -7.8px;
  display: block;
  width: 12px;
  height: 12px;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  border-radius: 3px;
  transform: rotate(45deg);
}
.backTop i {
  position: absolute;
  left: 50%;
  top: 5px;
  margin-left: -2px;
  display: block;
  width: 0;
  height: 15px;
  border-left: 4px solid #000;
  border-radius: 3px;
}

.home-icon {
  position: fixed;
  top: 5px;
  left: 5px;
  display: block;
  width: 40px;
  height: 40px;
  background: url('../images/site/logo.png') no-repeat center;
  background-size: cover;
  display: none;
}

.floatMenu {
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 10;
  width: 138px;
}
.backHome {
  width: 100px;
  height: 38px;
  background: rgba(0,0,0,.8);
}
.backHome a{
  display: block;
  text-align: center;
  line-height: 38px;
  color: #fff;
  font-size: 20px;
}
.switch {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 35px;
  height: 38px;
  font-size: 35px;
  color: #fff;
  background: rgba(0,0,0,.8);
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  font-weight: lighter;
}
.contactLink {
  width: 100%; 
  background: rgba(0,0,0,.8);
  overflow: hidden;
  padding: 8px 5px;
  margin-top: 3px;
  display: none;
}
.contactLink>a {
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.contactLink>a:first-child {
  margin-left: 0;
}
.contactLink>a img {
  width: 100%;
  height: 100%;
}
.transMask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9;
}

@keyframes slideShow{
  /*from { right: -60%; }
  to { right: 0; }*/
  0% {transform: translateX(60%);-webkit-transform: translateX(60%);}
  100% {transform: translateX(0);-webkit-transform: translateX(0);}
}
@keyframes slideHide{
  0% {transform: translateX(-100%);-webkit-transform: translateX(-100%);}
  100% {transform: translateX(0);-webkit-transform: translateX(0);}
}
@keyframes fadeIn{
  from { opacity: 0; }
  to { opacity: 1; }
}



/** 媒体查询 */
@media screen and (max-width: 960px) {
  body {
    font-size: 14px;
  }
  .index-wrapper .aside {
    position: relative;
    width: 100%;
    height: 200px;
    max-width: none;
  }
  .info-top {
    margin: 4%;
  }
  .index-wrapper .info-card {
    margin-top: 0;
  }
  .info-card .info-headicon {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
  }
  .index-wrapper .info-card h1 {
    font-size: 2rem;
  }
  .index-wrapper .index-content {
    margin-left: 0;
    padding-right: 0;
  }
  .index-wrapper .artical-list {
    width: 85%;
  }
  .index-wrapper .title {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.6;
  }
  .left-menu {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .blog_bg .menu-item {
    color: #fff;
  }
  .blog_bg .menu-item:hover {
    color: #e0f0e9;
  }

  .body-post {
    overflow-x: hidden;
    background-color: #fff;
  }
  .post-wrapper {
    width: 85%;
    margin: 70px auto 50px;
    padding: 0;
    
  }
  .post-wrapper .post-title,
  .post-wrapper .post-title a {
    font-size: 24px;
  }
  .post-wrapper .post-date {
    margin-bottom: 40px;
  }
  .post-wrapper h3 {
    font-size: 16px;
  }
  .post-wrapper pre code {
    line-height: 1em;
    font-size: 12px;
  }
  .post-wrapper ol li {
    margin-bottom: 0;
    line-height: 1em;
  }
  .post-wrapper img {
    max-width: 90%;
  }
  .about-wrapper {
    width: 100%;
    padding: 0 7.5% 30px;
  }
  .about-wrapper .aboutme li {
    float: none;
    width: 80%;
  }

  .post-left {
    float: none;
    width: auto;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }
  .post-right {
    display: none;
  }
  .classify-icon {
    display: block;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
  }
  .backTop {
    right: 0;
  }
  .home-icon {
    display: block;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
  }
}