<div class="floatMenu">
    <div class="backHome"><a href="/">Flower</a></div>
    <span class="switch">+</span>
    <div class="contactLink">
        <a href="https://github.com/flowerguo/"><img src="/images/logoicon/github.png" alt=""></a>
    </div>
</div>

<span class="classify-icon">
	<i></i>
</span>

<!-- <section class="classify-menu">
	{% for category in site.categories%}
      <p class="classify-name"><a href="">{{ category | first }}</a></p>
      <ul class="classify-list">
        {% for posts in category %}
          {% for post in posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>
	{% endfor %}
</section> -->
<div class="transMask" style="display: none;"></div>

<span class="backTop" style="display: none;">
	<i></i>
</span>

<script>
	$(function(){
		$('.classify-icon').bind('click',function(e){
			$('.classify-menu').css({
				'display': 'block',
				'animation': 'slideShow .3s',
				'-webkit-animation': 'slideShow .3s',
				'right': '0'
			});
			$('.transMask').show();
			$(document).one('click', function(){
		        $('.classify-menu').css({
					'animation': 'slideHide .3s',
					'-webkit-animation': 'slideHide .3s',
					'right': '-60%'
				});
		    });
		    e.stopPropagation();
		});
		$('.transMask').bind('click', function(){
			$('.classify-menu').css({
				'animation': 'slideHide .5s',
				'-webkit-animation': 'slideHide .5s',
				'right': '-60%'
			});
			$(this).hide();
		});
	});
	
	$(document).scroll(function(){
		if($(this).scrollTop()>0){
			$('.backTop').fadeIn();
		}else if($(this).scrollTop()<=0){
			$('.backTop').fadeOut();
		}
	});
	$('.backTop').click(function(){
		$('html,body').animate({scrollTop: 0},400,function(){$(this).show()});
	});
	$('.switch').click(function(){
      var $link = $(this).siblings('.contactLink');
      if($link.is(':hidden')){
        $link.slideDown(100);
      }else {
        $link.slideUp(100);
      }
    });
</script>