---
layout:           default
---

<body>
    <div class="index-wrapper">
        <!-- 左部菜单 -->
        <div class="aside index_bg">
            <div class="info-card">
                <div class="info-top">
                    <div class="info-headicon"></div>
                    <h1>Flower</h1>
                </div>
                <!-- 左部菜单 -->
                <div class="left-menu">
                    <a href="/" class="menu-item">Blog</a>
                    <a href="/demo" class="menu-item">Demo</a>
                    <a href="/album/" class="menu-item">Album</a>
                    <a href="" class="menu-item">About</a>
                </div>
                <div class="left-menu-mobile">
                    <span class="menu-icon"></span>
                    <div class="left-menu-m-list">
                        <a class="menu-item" href="/">Blog</a>
                        <a class="menu-item" href="/demo/">Demo</a>
                        <a class="menu-item" href="/album/">Album</a>
                        <a class="menu-item" href="">About</a>
                    </div>
                </div>
            <!-- 版权 -->
            </div>
          <div id="particles-js"></div>
        </div>
        <!-- 右部内容 -->
        <div class="index-content">
          {{ content }}  
        </div>
    </div>

    <script>
        // menu click 事件
        $('.menu-icon').click(function(e){
            if($('.left-menu-m-list').is(':hidden')){
                $('.left-menu-m-list').slideDown(100);
            }else{
                $('.left-menu-m-list').slideUp(100);
            }
            $(document).one('click', function(){
                $('.left-menu-m-list').slideUp(100);
            });
            e.stopPropagation();
        });

        $(function(){
        var url = window.location.pathname.replace(/\//g,'');
        if(url == ''){
            url = 'index';
        }

        $('.aside').removeClass().addClass('aside '+url+'_bg');

        });
    </script>
</body>
